main {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  background: lightgray;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%; /* fill grid row */
  overflow: hidden; /* keep scroll inside */
}
