<div class="outer-wrapper">
  <div class="inner-wrapper">
    <div class="messages" #messagesContainer>
      <div *ngFor="let msg of messages">
        <div class="message" [ngClass]="msg.type">
          <div class="avatar-wrapper">
            <div class="avatar" *ngIf="!msg.avatarUrl">
              {{ msg.name[0] }}
            </div>
            <img
              *ngIf="msg.avatarUrl"
              [src]="msg.avatarUrl"
              alt="{{ msg.name }}"
              class="avatar-img"
            />
          </div>
          <div class="bubble-container">
            <div class="name" [style.color]="msg.nameColor || defaultNameColor">
              {{ msg.name }}
            </div>
            <div class="bubble">{{ msg.text }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-input-outer">
      <form
        [formGroup]="messageForm"
        class="chat-input-inner"
        [class.shake]="isShaking"
      >
        <input
          formControlName="message"
          type="text"
          placeholder="Type your message..."
        />
        <div class="submit-message-button-area">
          <button (click)="submitMessage()">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
