:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px;
  z-index: 1;
}

ul.urls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  unicode-bidi: isolate;

  li {
    list-style-type: none;
  }

  img {
    max-width: 64px;
    max-height: 64px;
  }

  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
    text-decoration: none;
    color: #000000;

    &:hover {
      transform: scale(1.1) rotateZ(-3deg);
    }
  }
}