<div
  class="rooms-wrapper"
  [style.transform]="'rotate(' + randDeg(-1.5, 1.5) + 'deg)'"
>
  <form [formGroup]="headForm" class="headForm">
    <input
      formControlName="searchCreateInputBar"
      type="text"
      placeholder="Search/Create room"
      class="indie-flower-regular"
    />
    <button
      [disabled]="headForm.get('searchCreateInputBar')?.hasError('required')"
      class="indie-flower-regular"
    >
      Create
    </button>
  </form>
  <ul class="rooms-list">
    <li
      *ngFor="let item of rooms"
      [style.transform]="'rotate(' + randDeg(-0.7, 0.7) + 'deg)'"
    >
      <a [routerLink]="item.path"
        ><span>{{ item.title }}</span>
        <span>
          {{ item.users }} / {{ item.maxUsers ? item.maxUsers : "∞" }}
        </span></a
      >
    </li>
  </ul>
</div>
