:host {
  flex: 1;
  overflow: auto; /* internal scroll */
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms-wrapper {
  background-color: white;
  border: 2px solid #000000;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  padding: 16px;
  box-sizing: border-box;

  .headForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;

    border-bottom: 2px solid #3d3d3d;
    padding-bottom: 16px;
    overflow: auto;

    border-bottom-right-radius: 250px 10px;
    border-bottom-left-radius: 1000px 10px;

    input {
      height: 40px;
      width: 100%;
      max-width: 256px;
      font-size: 28px;
      border: 2px solid #3d3d3d;
      margin-top: 2px;

      border-top-left-radius: 50px 300px;
      border-top-right-radius: 2000px 50px;
      border-bottom-right-radius: 250px 15px;
      border-bottom-left-radius: 2000px 50px;

      box-sizing: border-box;
      padding: 4px 8px;

      &:focus {
        border-color: #000000;
        outline: 1px solid #e7e7e7;

        transform: scale(1.02) rotate(1deg);

        border-top-left-radius: 60px 900px;
        border-top-right-radius: 1200px 120px;
        border-bottom-right-radius: 400px 40px;
        border-bottom-left-radius: 1500px 80px;
      }
    }

    button,
    input[type="submit"],
    input[type="reset"] {
      background: none;
      color: inherit;
      border: transparent;
      padding: 0;

      cursor: pointer;
      outline: inherit;
    }

    button {
      background-color: #e7e7e7;
      height: 40px;
      box-sizing: border-box;
      padding: 4px 8px;
      font-size: 28px;

      border-top-left-radius: 190px 15px;
      border-top-right-radius: 15px 285px;
      border-bottom-right-radius: 215px 15px;
      border-bottom-left-radius: 15px 205px;

      &:disabled {
        cursor: not-allowed;
        background-color: #e7e7e769;
        color: #585858;
      }
    }
  }

  ul.rooms-list {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0;
    padding-inline-start: 0;
    unicode-bidi: isolate;

    li {
      border: 2px solid black;
      list-style: none;

      margin-top: 6px;

      border-top-left-radius: 190px 15px;
      border-top-right-radius: 15px 285px;
      border-bottom-right-radius: 215px 15px;
      border-bottom-left-radius: 15px 205px;

      a {
        display: flex;
        width: 100%;
        height: 48px;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        box-sizing: border-box;
        gap: 16px;

        font-family: inherit;
        font-size: 28px;

        color: #000000;
        text-decoration: none;

        .room-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .room-user-count {
          text-wrap: nowrap;
        }

        &:hover {
          color: #000000;
        }
      }
    }
  }
}
