<div class="rooms-wrapper" [style.transform]="'rotate(' + headDeg + 'deg)'">
  <form [formGroup]="headForm" class="headForm">
    <input
      formControlName="searchCreateInputBar"
      type="text"
      placeholder="Search/Create room"
      class="indie-flower-regular"
    />
    <button
      [disabled]="headForm.get('searchCreateInputBar')?.hasError('required')"
      class="indie-flower-regular"
    >
      Create
    </button>
  </form>
  <ul class="rooms-list">
    <li *ngFor="let item of rooms">
      <a [routerLink]="item.path"
        ><span class="room-title">{{ item.title }}</span>
        <span class="room-user-count">
          {{ item.users }} / {{ item.maxUsers ? item.maxUsers : "∞" }}
        </span></a
      >
    </li>
  </ul>
</div>
