<div
  class="rooms-wrapper indie-flower-regular"
  [style.transform]="'rotate(' + wrapperDegAngle + 'deg)'"
>
  <form [formGroup]="headForm" class="headForm">
    <input
      formControlName="searchCreateInputBar"
      type="text"
      placeholder="Search/Create room"
      class="indie-flower-regular"
    />
    <button
      [disabled]="headForm.get('searchCreateInputBar')?.hasError('required')"
      class="indie-flower-regular"
    >
      Create
    </button>
  </form>
  <ul class="rooms-list">
    <li
      *ngFor="let item of rooms; let i = index"
      [style.transform]="'rotate(' + (i % 2 === 0 ? -0.25 : 0.25) + 'deg)'"
    >
      <a [routerLink]="item.path"
        ><span class="room-title">{{ item.title }}</span>
        <span class="room-user-count">
          {{ item.users }} / {{ item.maxUsers ? item.maxUsers : "∞" }}
        </span></a
      >
    </li>
  </ul>
</div>
